[submodule "pi-gen"]
	path = pi-gen
	url = https://github.com/ak-rex/ClockworkPi-pi-gen.git
[submodule "linux"]
	path = linux
	url = https://github.com/raspberrypi/linux.git
	tag = rpi-6.12.y_20241206_2
